[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"
skip = [".venv", ".git", ".cache"]
line_length = 88

[tool.black]
line-length = 88

